# Llibreria PostgreSQL
psycopg2-binary==2.7.5
# Django
django==2.0.10
# Plugin per Importar i Exportar des d'arxius
django-import-export==1.0.1
# Plugin per el registre d'usuaris
django-registration-redux==2.4
# Framework per API Rest
djangorestframework==3.8.2
# Suport per Markdown
markdown==2.6.11
# Llibreria necessaria per les imatges
pillow==5.1.0
# Servidor WSGI
gunicorn==19.8.1
gunicorn[gevent]
# Llibreria per la xarxa
gevent==1.3.3
# Plugin de Bootstrap4
django-bootstrap4==0.0.6
# Plugin per afegir països
django-countries==5.3
# Redis
django-redis==4.9.0
redis==2.10.6

