{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}
<title>Restablir Contrasenya - Mossegada</title>
{% endblock %}
{% block content %}
<div class="container">
  <div class='col-sm-6 col-sm-offset-3 passwordreset'>
    <br>
    <h2 class='text-align-center'><strong>Restablir Contrasenya</strong></h2><br/>
    <form method="post" action=".">
      {% csrf_token %} 
      {% bootstrap_form form %}
      {% buttons %}
      <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
      {% endbuttons %}
      
    </form>
  </div>
</div>
{% endblock %}