{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}
<title>Contrasenya no canviada - Mossegada</title>
{% endblock %}

{% block content %}


{% if validlink %}
<div class="container">
  <form method="post" action=".">
    {% csrf_token %} 
    {% bootstrap_form form %}
    {% buttons %}
    <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Enviar' %}" />
    {% endbuttons %}
    
  </form>
</div> 

{% else %}

<div class="alert alert-danger" role="alert">
  <p class='lead'>{% trans "La contrasenya no ha estat canviada." %}</p>
</div>
</div>

{% endif %}

{% endblock %}